<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="welcome__block">

      <div class="container">
        <div class="OILPlatform"></div>
        <div class="OILTanker"></div>
        <div class="OILBarrel"></div>
        <div class="OILRockingMachine"></div>

        <div class="tagline">
          <div class="first__line">Развивайся в нейтяной сфере</div>
          <div class="second__line">и зарабатывай<br><B>реальные</B> деньги</div>
        </div>
      </div>

      <div class="yellow__block">
        <div class="land__line"></div>

        <a routerLink="/reg" class="bigBlackStartButton">Начать играть</a>
      </div>
      <div class="stat__line">
        <div class="container">
          <div class="row">

            <div class="col-md-3 col-xs-12">
              <span>1</span>
              день проекту
            </div>

            <div class="col-md-3 col-xs-12">
              <span>57&nbsp;213</span>
              руб. выплачено
            </div>

            <div class="col-md-3 col-xs-12">
              <span>100&nbsp;000</span>
              пользователей
            </div>

            <div class="col-md-3 col-xs-12">
              <span>10</span>
              новых сегодня
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="best__popular">
          <div class="title">Наиболее популярные покупки среди игроков</div>
          <slider></slider>
        </div>
        <div class="info__block">

          <div class="col-md-6 col-xs-12">
            <div class="title__tagline">
              <div class="first__line">О проекте</div>
              <div class="second__line">OILMAN.IO</div>
            </div>
            <div class="description">
              OILMAN.IO - уникальная многопользовательская инвестиционная игра, которая завоевала популярность и репутацию лучшего Интернет-проекта у сотен тысяч пользователей RUнета.<br>
              Мы существуем уже почти три года, за это время мы доказ али что игры с выводом денег могут быть не только интересными — но и по настоящему прибыльными!<br>
              Наши пользователи зарабатывают деньги просто проводя приятно время в игре!<br>
              Присоединяйтесь и Вы к сообществу виртуальных нифтяников!<br>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="title__tagline">
              <div class="first__line">Предупреждение</div>
              <div class="second__line">о рисках</div>
            </div>
            <div class="description">
              Хоть это и игра — но и в ней есть риски. Мы этого не скрываем! Но мы смело заявляем, что наш проект — стабильный и всегда выполняет свои обязательства.<br>
              Это подтвердят множество пользователей, которые стабильно зарабатывают на нашем проекте деньги.<br>
              Тем не менее, Администрация проекта не гарантирует что Вы извлечете выгоду из участия в проекте.<br>
              Ваш доход зависит только от Вас, и от глубины участия в проекте!<br>
            </div>
          </div>

        </div>
      </div>

      <div class="list__payments">
        <div class="col-xs-12 col-sm-6">
          <div class="col-xs-12 col-md-4"><div class="payment masterCard"></div></div>
          <div class="col-xs-12 col-md-4"><div class="payment VISA"></div></div>
          <div class="col-xs-12 col-md-4"><div class="payment webmoney"></div></div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="col-xs-12 col-md-4"><div class="payment yandexmoney"></div></div>
          <div class="col-xs-12 col-md-4"><div class="payment QIWI"></div></div>
          <div class="col-xs-12 col-md-4"><div class="payment Payeer"></div></div>
        </div>
      </div>
    </div>

  </div>
</div>
