<div class="menu">
  <ul>
    <li class="home">
      <a class="">Мой офис</a>
    </li>
    <li class="business">
      <a class="">Мой бизнес</a>
    </li>
    <li class="map">
      <a class="">Карта владений</a>
    </li>
    <li class="shop">
      <a class="">Магазин</a>
    </li>
    <li class="messages">
      <a class="">Мои сообщения</a>
    </li>
    <li class="friends">
      <a class="">Мои друзья</a>
    </li>
    <li class="partners">
      <a class="">Партнеры</a>
    </li>
  </ul>
</div>
<div class="balance">
  <div class="box">
    <div class="title">
      Бизнес-счет
      <div class="action">
        пополнить
      </div>
    </div>
    <div class="amount">
      <span class="yellow">0.00</span>
      <span>YE</span>
    </div>
  </div>
  <div class="box NoEnabled">
    <div class="title">
      Вывод
      <div class="action">
        вывести
      </div>
    </div>
    <div class="amount">
      <span class="yellow">0.00</span>
      <span>&#8381;</span>
    </div>
  </div>
</div>
